body {
  font-family: sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  list-style: none;
  border: 1px solid #e7e7e7;
}
nav ul li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  float: right;
}
nav ul li.nappi {
  width: 6em;
  text-align: center;
}
nav ul li.kotinappi {
  float: left;
  vertical-align: middle;
}
nav ul li.kotinappi img {
  height: 16px;
  margin-right: 1em;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  background-color: #eee;
}

td a {
  color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table.liiteluettelo {
  margin-top: 0px;
  border: 1px solid #505050;
}
table.liiteluettelo tr:hover {
  background-color: #ccc;
}

table.tositeotsikot {
  margin-top: 2em;
}
td.paiva {
  width: 10em;
  font-weight: bold;
}
td.tositeotsikko {
  width: 100%;
  font-weight: bold;
}
td.tositetyyppi {
  min-width: 8em;
}
td.tositetunnus {
  text-align: right;
  min-width: 8em;
  font-weight: bold;
}
td.tositekumppani {
}

table.viennit {
  border: 1px solid #505050;
}
table.viennit th,
table.viennit td {
  border-right: 1px solid #505050;
}
table.viennit th {
  text-align: left;
  background-color: #e7e7e7;
  font-weight: normal;
}
table.viennit td.pvm {
  min-width: 6em;
}
table.viennit td.tili {
  min-width: 12em;
}
table.viennit td.kohdennus {
  min-width: 8em;
}
table.viennit td.kumppani {
  min-width: 8em;
}
table.viennit td.selite {
  width: 100%;
}
table.viennit td.alv {
  text-align: right;
  min-width: 6em;
}
table.viennit td.euro {
  text-align: right;
  min-width: 8em;
}
table.viennit td.erasaldo {
  border-top: 1px solid #505050;
  text-align: right;
}
table.viennit tr:hover {
  background-color: #ccc;
}

table.extra {
  margin-top: 2em;
}
table.extra td.extrahead {
  min-width: 12em;
}
table.extra td.extracol {
  width: 100%;
}


table.loki {
	margin-top: 2em;
}

table.loki td.lokiaika {
	min-width: 14em;
}

table.loki td.lokitila {
	min-widt: 14em;
}

table.loki td.lokinimi {
	width: 100%;
}

p.info {
  font-size: 10pt;
  margin-top: 2em;
}
span.treeni {
  color: green;
}
a {
  text-decoration: none;
}
img.logo {
  float: right;
  margin: 1em;
  max-width: 50%;
}

h2.etusivu {
  font-size: 16pt;
  font-weight: normal;
}

@media print {
  nav ul li.nappi {
    display: none;
  }
  a {
    color: black;
  }
  a.avaaliite {
    display: none;
  }
  #liite {
    display: none;
  }
}
