[Desktop Entry]
Type=Application
Name=Kitupiikki
Exec=kitupiikki %F
Icon=kitupiikki
Comment=Avoimen lähdekoodin kirjanpitäjä
Terminal=false
Categories=Office;Finance;Qt
