body
{
    background: white;
    font-size: 12pt;
}

h1
{
    font-size: 20pt;
}

h2
{
    font-size: 18pt;
}

h2.kausi
{
    font-weight: normal;
    margin-bottom: 10px;
}

h3
{
    font-size: 16pt;
    font-weight: bold;
}

h3 > a
{
    color: black;
}

pre
{
    font-family: "Helvetica";
}

table.vinkki
{
  background-color: #bbff99;
  margin-bottom: 15px;
}

table.vinkki > tr > td
{
    padding: 15px;
}

table.varoitus
{
    background-color: #ff6666;
    margin-bottom: 15px;
}

table.varoitus > tr > td
{
    padding: 15px;
}

table.info
{
    background-color: #ffff99;
    margin-bottom: 15px;
    border: 1px solid black;
}

table.info > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}


table.memo
{
    background-color: #ffffcc;
    margin-bottom: 15px;
}

table.memo > tr > td
{
    padding: 15px;
}


a
{
    text-decoration: none;
}

tr.summa > td
{
    font-weight: bold;
    font-size: 12pt;
}


tr.kokosumma > td
{
    font-weight: bold;
    font-size: 12pt;
}

td.otsikko
{
    font-size: 12pt;
    font-weight: bold;
}

td.euro
{
    text-align: right;
}

th
{
    text-align: right;
    font-size: 12pt;
}
