body
{
    background: white;
    font-family: Sans;
    font-size: 12pt;
}

h1
{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16pt;
}

h2
{
    font-size: 18pt;
    margin-bottom: 10pt;
}

h3
{
    font-size: 16pt;
    font-weight: bold;
}


table.vinkki
{
  background-color: #66ff99;
  margin-bottom: 1em;
}

table.varoitus
{
    background-color: #ff4d4d;
    margin-bottom: 1em;
}

table.info
{
    background-color: #ffff99;
    margin-bottom: 1em;
    border: 1px solid black;
}

td
{
    padding: 6px 6px 6px 6px;
}

a
{
    text-decoration: none;
}

tr.summa > td
{
    font-weight: bold;
    font-size: 12pt;
}


tr.kokosumma > td
{
    font-weight: bold;
    font-size: 12pt;
}

td.otsikko
{
    font-size: 12pt;
    font-weight: bold;
}

td.euro
{
    text-align: right;
}

th
{
    text-align: right;
    font-size: 12pt;
}
