body
{
    background: lightgray;
    font-family: Sans;
    font-size: 12pt;
}

div.oikea
{
    width: 25%;
    float: right;
}

p.nappi
{
    text-align: center;
}

div.loota
{
    width: 70%;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 4px 4px gray;
    background: white;
    margin-bottom: 12pt;
}

div.otsake
{
    background: green;
    padding: 3px;
    color: white;
    font-size: 16pt;
}

div.vtiedosto
{
    min-height: 64px;
    margin-bottom: 6pt;
    clear: left;

}

div.vtiedosto > a
{
    text-decoration: none;
    color: black;
}

div.vtiedosto > a > img
{
    float: left;
}

img.kpkuvake
{
    float: left;
    margin-right: 2em;
}

h1
{
    font-size: 20pt;
    font-family: Sans;
    font-weight: normal;
    min-height: 128px;
}

table
{
    width: 70%;
}

td
{
    border-bottom: 1px solid gray;
}

tr.summa > td
{
    font-weight: bold;
    border-bottom: none;
    border-top: 1px solid gray;
}


tr.kokosumma > td
{
    font-weight: bold;
    border-bottom: none;
    border-top: 2px solid gray;
}

td.euro
{
    text-align: right;
}

