<img src="/images/aboutpossu.png" style="width:100%;">
<p class=info>
<a href="/asennus">
<img src="https://img.shields.io/github/release/artoh/kitupiikki.svg?label=Vakaa versio&style=for-the-badge"><br/>
<img src="https://img.shields.io/github/release/artoh/kitupiikki/all.svg?label=Esiversio&style=for-the-badge"></a>
</p>
<p class="info">Kitupiikki on ilmainen suomalainen kirjanpito-ohjelma. Kitupiikki käsittelee ja arkistoi skannatut tositteet. Ohjelma on alunperin suunniteltu yhdistyksille, mutta Kitupiikin avulla hoidat vaivattomasti myös pienehkön yrityksen kirjanpidon.</p> 
<p class=info>
<a href="http://kitupiikki.arkku.net/tilasto"><img src="http://kitupiikki.arkku.net/tilasto/kk.php"></a>
</p>
