body
{
    background: palette(base);
    font-size: 12pt;
    color: palette(text);
    margin-top: 15px;
}

h1
{
    font-size: 20pt;
}

h2
{
    font-size: 18pt;
}

h2.kausi
{
    font-weight: normal;
    margin-bottom: 10px;
}

h3
{
    font-size: 16pt;
    font-weight: bold;
}

h3 > a
{
    color: black;
}

pre
{
    font-family: "Helvetica";
}

table
{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

table.vinkki
{
  background-color: #bbff99;
  margin-bottom: 15px;
  color: black;
}

table.vinkki > tr > td
{
    padding: 15px;
    color: black;
}

table.varoitus
{
    background-color: #ff6666;
    margin-bottom: 15px;
    color: black;
}

table.tilioimatta
{
    background-color: #ff6600;
    margin-bottom: 15px;
    color: black;
}

table.tilioimatta > tr > td
{
    padding: 20px;
}

table.varoitus > tr > td
{
    padding: 15px;
}

table.notify
{
    background-color: #85C1E9;
    margin-bottom: 15px;
    border: 1px solid palette(text);
    color: black;
}

table.notify > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}

table.info
{
    background-color: #ffff99;
    margin-bottom: 15px;
    border: 1px solid palette(text);
    color: black;
}

table.info > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}


table.testaus
{
    background-color: #ffa400;
    margin-bottom: 15px;
    border: 1px solid black;
    color: black;
}

table.testaus > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}


table.memo
{
    background-color: #ffffcc;
    margin-bottom: 15px;
    color: black;
}


table.memo > tr > td
{
    padding: 15px;
}


a
{
    text-decoration: none;
}

table.saldot
{
    border: 0px solid palette(base);
}

tr.summa > td
{
    font-weight: bold;
    font-size: 12pt;
}


tr.tumma
{
    background-color: palette(alternate-base);
}

tr.vaalea
{

}

tr.kokosumma > td
{
    font-weight: bold;
    font-size: 12pt;
}

td.otsikko
{
    font-size: 12pt;
    font-weight: bold;
}

tr.nollatili
{
    color: red;
    font-weight: bold;
}

td.saldootsikko
{
    font-weight: bold;
}

tr.tulosrivi
{
    color: palette(dark);
}

a.tililinkki
{
    color: palette(text);
    text-decoration: none;
}

a.nollatililinkki
{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

td.sulkuruksi
{
    text-align: right;
}

td.euro
{
    width: 25%;
    text-align: right;
}

th
{
    text-align: right;
    font-size: 12pt;
}

img
{
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

td.content
{
    padding: 6px;
}
