body
{
    background: white;
    font-size: 12pt;
    color: black;
    margin-top: 15px;
}

h1
{
    font-size: 20pt;
}

h2
{
    font-size: 18pt;
}

h2.kausi
{
    font-weight: normal;
    margin-bottom: 10px;
}

h3
{
    font-size: 16pt;
    font-weight: bold;
}

h3 > a
{
    color: black;
}

pre
{
    font-family: "Helvetica";
}

table 
{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

table.vinkki
{
  background-color: #bbff99;
  margin-bottom: 15px;
}

table.vinkki > tr > td
{
    padding: 15px;
}

table.varoitus
{
    background-color: #ff6666;
    margin-bottom: 15px;
}

table.tilioimatta
{
    background-color: #ff6600;
    margin-bottom: 15px;
}

table.tilioimatta > tr > td
{
    padding: 20px;
}

table.varoitus > tr > td
{
    padding: 15px;
}

table.info
{
    background-color: #ffff99;
    margin-bottom: 15px;
    border: 1px solid black;
}

table.info > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}

table.testaus
{
    background-color: #ffa400;
    margin-bottom: 15px;
    border: 1px solid black;
}

table.testaus > tr > td
{
    padding: 15px;
    margin-bottom: 15px;
}


table.memo
{
    background-color: #ffffcc;
    margin-bottom: 15px;
}

table.memo > tr > td
{
    padding: 15px;
}


a
{
    text-decoration: none;
}

table.saldot
{
    border: 0px solid #ffffff00;
}

tr.summa > td
{
    font-weight: bold;
    font-size: 12pt;
}


tr.tumma
{
    background-color: #eeeeee;
}

tr.vaalea
{

}

tr.kokosumma > td
{
    font-weight: bold;
    font-size: 12pt;
}

td.otsikko
{
    font-size: 12pt;
    font-weight: bold;
}

td.saldootsikko
{
    font-weight: bold;
}

tr.tulosrivi
{
    color: #555555;
}


td.euro
{
    width: 25%;
    text-align: right;
}

th
{
    text-align: right;
    font-size: 12pt;
}

img
{
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

td.content 
{
    padding: 6px;
}
