div.asennusinfo
{
   border: 1px solid #7e57c2;
   width: 50%;  
   padding: 0px 10px 10px 10px;
   margin: auto auto auto auto;
   box-shadow: 3px 3px 2px #d0d0d0;
   text-align: center;
   
}

div.asennusinfo > h3
{
   color: #7e57c2;
   font-weight: bold;
    
}

div.asennuslaatikko
{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #7e57c2;
    box-shadow: 3px 3px 2px #d0d0d0;
    text-align: center;
    background: #7e57c2;
    color: white;
    width: 80%;
}


li.asennuslaatikko
{
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #7e57c2;
    box-shadow: 3px 3px 2px #d0d0d0;
    text-align: center;
    background: #7e57c2;
    color: white;
    
    
}

li.asennuslaatikko:hover, li.asennuslaatikko:active
{
    color: white;
    text-decoration: none;
}

a.asennuslaatikko
{
    color: white;
}

a.asennuslaatikko:hover
{
    color: white;
    font-weight: bold;
}
