{% macro t(key) %}{{ {
  "language": "fi",
  "clipboard.copy": "Kopioi leikepöydälle",
  "clipboard.copied": "Kopioitu leikepöydälle",
  "edit.link.title": "Muokkaa sivua",
  "footer.previous": "Edellinen",
  "footer.next": "Seuraava",
  "meta.comments": "Kommentit",
  "meta.source": "Lähdekoodi",
  "search.placeholder": "Hae",
  "search.result.placeholder": "Kirjoita hakeaksesi...",
  "search.result.none": "Ei osumia",
  "search.result.one": "1 osuma",
  "search.result.other": "# osumaa",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "Repositioon",
  "toc.title": "Sisältö"
}[key] }}{% endmacro %}
